<!-- filters.html -->
<form class="row g-3">
    <div class="col-6 col-md-4 col-lg-3">
        <input type="month" class="form-control" id="startDate" name="startDate">
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <input type="month" class="form-control" id="endDate" name="endDate">
    </div>
    <div class="col-6 col-md-4 col-lg-6">
        <select class="form-select" id="cmbType" name="cmbType">
            <option selected>Tipo ...</option>
            <option value="1">Combustión</option>
            <option value="2">Híbrido</option>
            <option value="3">Híbrido enchufable</option>
            <option value="4">100% Eléctrico</option>
        </select>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <select class="form-select" id="cmbBrand" name="cmbBrand">
            <option selected>Marca ...</option>
        </select>
    </div>
    <div class="col-12 col-md-8 col-lg-4">
        <select class="form-select" id="cmbModel" name="cmbModel">
            <option selected>Modelo ...</option>
            <option value="1">Corolla</option>
            <option value="2">Focus</option>
            <option value="3">Altima</option>
        </select>
    </div>
    <div class="col-10 col-md-8 col-lg-4">
        <select class="form-select" id="cmbProvince" name="cmbProvince">
            <option selected>Provincia ...</option>
            <option value="1">Madrid</option>
            <option value="2">Málaga</option>
            <option value="3">Barcelona</option>
        </select>
    </div>
    <div class="col-2 col-md-4 col-lg-1 text-center">
        <button type="submit" class="btn btn-primary col-12">Filtrar</button>
    </div>
</form>

<script src="./filters.js"></script>

<script>
    await loadBrands('', '');
</script>