body {
    font-family: "Quicksand", sans-serif;
    color: var(--COLOR-ACCENT-DARK);
    background-color: var(--COLOR-SECONDARY);
    margin: 0;
}

.content {
    padding: 10px;
}

@media screen and (max-width:768px) {

}

.headerSection {
    background-color: var(--COLOR-ACCENT);
}

.headerSection .navbar-brand {
    font-weight: bold;
    color: var(--COLOR-PRIMARY);
}

.headerSection .nav-link {
    color: var(--COLOR-PRIMARY);
}

.headerSection .bi-funnel {
    font-weight: bold;
    color: var(--COLOR-PRIMARY);
}

.headerSection .navbar-toggler {
    border-radius: var(--BORDER-RADIUS);
    border-color: var(--COLOR-SECONDARY);
    background-color: var(--COLOR-PRIMARY);
}

.headerSection .navbar-toggler:focus {
    box-shadow: none;
}

.tarjet{
    background-color: var(--COLOR-PRIMARY);
    border-radius: var(--BORDER-RADIUS);
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.chart-container-small {
    height: 200px;
    display: flex;
    justify-content: center;
}
.chart-container-medium {
    height: 400px;
    display: flex;
    justify-content: center;
}
.chart-container-large {
    height: 600px;
    display: flex;
    justify-content: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--COLOR-TRANSPARENT); /* Transparente */
    z-index: 9999; /* Asegura que esté sobre otros elementos */
    font-size: 1.5rem;
    color: var(--COLOR-ACCENT_DARK); /* Cambia el color del texto si es necesario */
}

.refresh {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: var(--COLOR-PRIMARY);;
    cursor: pointer;
}

/* START: Chart.js styles */
.grid {
    font-size: 14px;
}

.grid .gridjs-container {
    padding: 0px;
}

.grid .gridjs-wrapper {
    border-radius: var(--BORDER-RADIUS) var(--BORDER-RADIUS) 0 0;
}

.grid th.gridjs-th {
    color: var(--COLOR-PRIMARY);
    background-color: var(--COLOR-ACCENT);
    padding: 10px 15px;
}

.grid td.gridjs-td {
    background-color: var(--COLOR-PRIMARY);
    border: 1px solid var(--COLOR-SEPARATOR);
    padding: 5px 15px;
}



.grid .gridjs-footer {
    background-color: var(--COLOR-PRIMARY);
    border-radius: 0 0 var(--BORDER-RADIUS) var(--BORDER-RADIUS);
}

.grid .gridjs-pagination .gridjs-pages button {
    background-color: var(--COLOR-PRIMARY);
}

.grid input.gridjs-input {
    background-color: var(--COLOR-PRIMARY);
}
/* END: Chart.js styles */

/* */
.choices .choices__inner {
    background-color: transparent;
    padding: 7.5px 7.5px 3.75px;
    border: 1px solid var(--COLOR-SEPARATOR);
    border-radius: var(--BORDER-RADIUS);
}

.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: var(--BORDER-RADIUS);
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: var(--COLOR-ACCENT);
    border: 1px solid var(--COLOR-ACCENT-DARK);
    color: var(--COLOR-PRIMARY);
    word-break: break-all;
    box-sizing: border-box;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: var(--COLOR-PRIMARY);
}

.filterSection {
    background-color: var(--COLOR-PRIMARY);
    --bs-bg-opacity: 1;
}

.filterSection .choices__input {
    background-color: transparent;
}

.btnFilter {
    text-align: right;
}

.datefilter {
    height: 47.95px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--COLOR-SEPARATOR);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
  background-color: transparent;
  border: 1px solid var(--COLOR-SEPARATOR);
}