:root {
    --COLOR-PRIMARY: #ececec;           /* Fondo cálido, suave y luminoso */
    --COLOR-SECONDARY: #bbbbbb;         /* Secciones con tono melocotón claro */
    --COLOR-ACCENT: #410066;            /* Naranja vibrante para botones y gráficos activos */
    --COLOR-ACCENT-DARK: #1f0872;       /* Azul profundo para texto y encabezados */
    --COLOR-SEPARATOR: #d7bfe4;         /* Líneas suaves con calidez */
    --COLOR-BLACK: #333333;
    --COLOR-TRANSPARENT: rgba(255, 255, 255, 0.9); /* Overlays limpios */


    --BORDER-RADIUS: 4px;

    --COLOR-TYPE-8:  #6C4D9F;
    --COLOR-TYPE-7: #FF4800;
    --COLOR-TYPE-6:  #00A6ED;
    --COLOR-TYPE-5:  #FFB300;
    --COLOR-TYPE-4:  #D94F70;
    --COLOR-TYPE-3: #008C72;
    --COLOR-TYPE-2: #4C4C4C;
    --COLOR-TYPE-1: #A05F2C;

    --FONT-FAMILY: "Quicksand", sans-serif;
    --FONT-SIZE-SM: 10px;
    --FONT-SIZE-MD: 14px;
}