:root {
    --COLOR-PRIMARY: #ececec;           /* Fondo cálido, suave y luminoso */
    --COLOR-SECONDARY: #bbbbbb;         /* Secciones con tono melocotón claro */
    --COLOR-ACCENT: #410066;            /* Naranja vibrante para botones y gráficos activos */
    --COLOR-ACCENT-DARK: #1f0872;       /* Azul profundo para texto y encabezados */
    --COLOR-SEPARATOR: #d7bfe4;         /* Líneas suaves con calidez */
    --COLOR-BLACK: #333333;
    --COLOR-TRANSPARENT: rgba(255, 255, 255, 0.9); /* Overlays limpios */


    --BORDER-RADIUS: 4px;

    --COLOR-TYPE-1: #FF4800;     /*  Naranja  principal, coherente  con  tu color  de  acento */
    --COLOR-TYPE-2:  #FFB300;     /* Amarillo  cálido,  vibrante y  legible  sobre fondo  claro  */
    --COLOR-TYPE-3:  #00A6ED;     /*  Azul claro,  fresco  y tecnológico  */
    --COLOR-TYPE-4: #008C72;     /*  Verde  azulado, moderno  y  elegante */
    --COLOR-TYPE-5:  #D94F70;     /* Rosa  coral,  cálido y  llamativo  */
    --COLOR-TYPE-6:  #6C4D9F;     /*  Violeta medio,  sofisticado  y contrastante  */
    --COLOR-TYPE-7: #A05F2C;     /*  Marrón  tostado, cálido  y  con carácter  */
    --COLOR-TYPE-8: #4C4C4C;     /*  Gris  oscuro para  categorías  neutras o  sin  destacar */

    --FONT-FAMILY: "Quicksand", sans-serif;
    --FONT-SIZE-SM: 10px;
    --FONT-SIZE-MD: 14px;
}