:root {
    --COLOR-PRIMARY: #101820;       /* Fondo negro azulado */
    --COLOR-SECONDARY: #1C2A35;     /* Azul gris medio */
    --COLOR-ACCENT: #00F5D4;        /* Turquesa neón intenso */
    --COLOR-ACCENT-DARK: #00C2A8;   /* Versión más oscura para contraste */
    --COLOR-SEPARATOR: #2C3E50;
    --COLOR-TRANSPARENT: rgba(16, 24, 32, 0.9);

    --BORDER-RADIUS: 4px;

    --COLOR-TYPE-1: #123458;
    --COLOR-TYPE-2: #68363B;
    --COLOR-TYPE-3: #3B5D50;
    --COLOR-TYPE-4: #A08A53;
    --COLOR-TYPE-5: #5D486E;
    --COLOR-TYPE-6: #8C5B3B;
    --COLOR-TYPE-7: #2D5D74;
    --COLOR-TYPE-8: #886B74;
}